<ion-view title="Bato" id="page3">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="bato-button9" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/Jde9CJbGQgex8Z2qdLwl_bato.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="bato-form6" class="list">
      <h1 id="bato-heading2" style="color:#000000;">Bato</h1>
    </form>
    <div id="bato-markdown2" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365478687</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="bato-button10" class="button button-balanced button-block">Save</button>
    <button id="bato-button29" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>