<ion-view title="ContactPage" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="contactPage-heading7" style="color:#5A5A5A;">Contacts</h1>
    <ion-list id="contactPage-list1">
      <label class="item item-input" id="contactPage-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item11" ui-sref="bato()">
        <img src="img/JzwzReMCTGxgOtCyOsUu_bato.jpg">
        <h2>Bato </h2>
        <p>09365478687</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item14" ui-sref="decastro()">
        <img src="img/sPurt741Rgue1rFrRuwE_195px-Decastro_in_robes.jpg">
        <h2>Decastro</h2>
        <p>09567476356</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item17" ui-sref="dickGordon()">
        <img src="img/Y7iTsgCdTdS9xUIcLKei_gordon17th_new.jpg">
        <h2>Dick Gordon</h2>
        <p>09457568565</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item5" ui-sref="digong()">
        <img src="img/DViRqlbIS0CpDYtL9WPG_digong.jpg">
        <h2>Digong</h2>
        <p>09351122077</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item13" ui-sref="trililing()">
        <img src="img/RLLjlMuUQ22nsNVVIunY_trillanes.jpg">
        <h2>Trililing</h2>
        <p>09765875876</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item12" ui-sref="miriam()">
        <img src="img/s9FymO3tSVK6hEJdxwuo_Miriam-defensor-santiago.jpg">
        <h2>Miriam</h2>
        <p>09365722879</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item15" ui-sref="manny()">
        <img src="img/yQlJNDQsSPOO30NsNqIg_manny.jpg">
        <h2>Manny</h2>
        <p>09567856845</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item16" ui-sref="larryGordon()">
        <img src="img/2zvmrznyTAjcsEvyYTmf_larry-gadon-sereno-impeachment-house_2018-04-13_08-53-09.jpg">
        <h2>Larry Gadon</h2>
        <p>09453463475</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item18" ui-sref="titoSotto()">
        <img src="img/F4O0XEorQReXinPGhq95_SenTitoSotto.jpg">
        <h2>Tito</h2>
        <p>09456457658</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="contactPage-list-item19" ui-sref="leilaDelima()">
        <img src="img/Leila_de_Lima_28cropped29.jpg">
        <h2>Leila </h2>
        <p>09351122077</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>