<ion-view title="Decastro" id="page5">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="decastro-button13" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/u5imbrzT32bGlDJU3Ow4_195px-Decastro_in_robes.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="decastro-form8" class="list">
      <h1 id="decastro-heading4" style="color:#000000;">Decastro</h1>
    </form>
    <div id="decastro-markdown4" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365478687</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="decastro-button14" class="button button-balanced button-block">Save</button>
    <button id="decastro-button31" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>