<ion-view title="Dick Gordon" id="page7">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="dickGordon-button17" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/tHFcTauQImzbjF9cQl2Q_gordon17th_new.jpg" style="display: block; width: 50%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="dickGordon-form10" class="list">
      <h1 id="dickGordon-heading6" style="color:#000000;">Dick Gordon</h1>
    </form>
    <div id="dickGordon-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365478687</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="dickGordon-button18" class="button button-balanced button-block">Save</button>
    <button id="dickGordon-button30" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>