<ion-view title="Larry Gordon" id="page11">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="larryGordon-button23" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/6vuGPRUQm27KyKXVslBC_larry-gadon-sereno-impeachment-house_2018-04-13_08-53-09.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="larryGordon-form14" class="list">
      <h1 id="larryGordon-heading11" style="color:#000000;">Larry Godon</h1>
    </form>
    <div id="larryGordon-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="larryGordon-button24" class="button button-balanced button-block">Save</button>
    <button id="larryGordon-button36" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>