<ion-view title="LeilaDelima" id="page13">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="leilaDelima-button27" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/ekdXoLkiQROiRsI97vx7_Leila_de_Lima_cropped.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="leilaDelima-form16" class="list">
      <h1 id="leilaDelima-heading13" style="color:#000000;">Leila Delima</h1>
    </form>
    <div id="leilaDelima-markdown12" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="leilaDelima-button28" class="button button-balanced button-block">Save</button>
    <button id="leilaDelima-button38" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>