<ion-view title="Manny" id="page10">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="manny-button21" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/7LG1pA7RcWFN2IVwb0Y0_manny.jpg" style="display: block; width: 80%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="manny-form13" class="list">
      <h1 id="manny-heading10" style="color:#000000;">Manny</h1>
    </form>
    <div id="manny-markdown9" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="manny-button22" class="button button-balanced button-block">Save</button>
    <button id="manny-button35" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>