<ion-view title="Miriam" id="page9">
  <ion-content padding="true" class="has-header">
    <a ui-sref="contactPage()" id="miriam-button19" class="button button-dark button-block">Back</a>
    <div>
      <img src="img/GMjaIHZGTtqrsCxBGqLB_Miriam-defensor-santiago.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="miriam-form12" class="list">
      <h1 id="miriam-heading9" style="color:#000000;">Miriam</h1>
    </form>
    <div id="miriam-markdown8" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="miriam-button20" class="button button-balanced button-block">Save</button>
    <button id="miriam-button34" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>