<ion-view title="Page" id="page12">
  <ion-content padding="true" class="has-header">
    <button id="page10-button25" class="button button-dark button-block">Back</button>
    <div>
      <img src="img/215px-Sen._Pres_Vicente_Sotto_28cropped29.jpg" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page10-form15" class="list">
      <h1 id="page10-heading12" style="color:#000000;">Tito Sotto</h1>
    </form>
    <div id="page10-markdown11" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="page10-button26" class="button button-balanced button-block">Save</button>
    <button id="page10-button37" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>