<ion-view title="Page" id="page8">
  <ion-content padding="true" class="has-header">
    <button id="page6-button11" class="button button-dark button-block">Back</button>
    <div>
      <img src="img/Z" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page6-form11" class="list">
      <h1 id="page6-heading8" style="color:#000000;">Trililing</h1>
    </form>
    <div id="page6-markdown7" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09765875876</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="page6-button12" class="button button-balanced button-block">Save</button>
    <button id="page6-button33" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>