<ion-view title="Page" id="page1">
  <ion-content padding="true" class="has-header">
    <h1 id="page-heading7" style="color:#5A5A5A;">Contacts</h1>
    <ion-list id="page-list1">
      <label class="item item-input" id="page-search1">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="">
      </label>
      <ion-item class="item-avatar item-icon-right" id="page-list-item11">
        <img src="img/9k">
        <h2>Bato </h2>
        <p>09365478687</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item14">
        <img src="img/195px-Decastro_in_robes.jpg">
        <h2>Decastro</h2>
        <p>09567476356</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item17">
        <img src="img/2Q">
        <h2>Dick Gordon</h2>
        <p>09457568565</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item5">
        <img src="img/Z">
        <h2>Digong</h2>
        <p>09351122077</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item13">
        <img src="img/Z">
        <h2>Trililing</h2>
        <p>09765875876</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item12">
        <img src="img/Z">
        <h2>Miriam</h2>
        <p>09365722879</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item15">
        <img src="img/2Q">
        <h2>Manny</h2>
        <p>09567856845</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item16">
        <img src="img/9k">
        <h2>Larry Gadon</h2>
        <p>09453463475</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item18">
        <img src="img/215px-Sen._Pres_Vicente_Sotto_28cropped29.jpg">
        <h2>Tito</h2>
        <p>09456457658</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
      <ion-item class="item-avatar item-icon-right" id="page-list-item19">
        <img src="img/Leila_de_Lima_28cropped29.jpg">
        <h2>Leila </h2>
        <p>09351122077</p>
        <i class="icon ion-android-create"></i>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>