<ion-view title="Page" id="page11">
  <ion-content padding="true" class="has-header">
    <button id="page9-button23" class="button button-dark button-block">Back</button>
    <div>
      <img src="img/9k" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page9-form14" class="list">
      <h1 id="page9-heading11" style="color:#000000;">Larry Godon</h1>
    </form>
    <div id="page9-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365722879</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="page9-button24" class="button button-balanced button-block">Save</button>
    <button id="page9-button36" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>