<ion-view title="Page" id="page7">
  <ion-content padding="true" class="has-header">
    <button id="page3-button17" class="button button-dark button-block">Back</button>
    <div>
      <img src="img/2Q" style="display: block; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <form id="page3-form10" class="list">
      <h1 id="page3-heading6" style="color:#000000;">Dick Gordon</h1>
    </form>
    <div id="page3-markdown6" class="show-list-numbers-and-dots">
      <p style="color:#000000;">
        <strong>Contact Number:</strong> 09365478687</p>

      <p style="color:#000000;">
        <strong>Address:</strong> Philippines</p>
    </div>
    <button id="page3-button18" class="button button-balanced button-block">Save</button>
    <button id="page3-button30" class="button button-assertive button-block">Delete</button>
  </ion-content>
</ion-view>